:root {
	--text-color: #000000;
	--primary-color: #C3E2C2;
}

body {
	font-family: 'Arial', sans-serif;
	line-height: 1.6;
	color: #333;
	margin: 20px;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background: linear-gradient(to right, #C3E2C2, #CD8D7A);

	max-width: 1300px;
	margin: 30px auto;
	padding: 30px;
}

header {
	background-color: #EAECCC;
	color: var(--text-color);
	text-align: center;
	padding: 1em;
}

h1.my-header {
	background-color: var(--primary-color);
	color: #000000;
	font-size: 2em;
	font-weight: bold;
	font-family: 'Arial', sans-serif;
	text-align: center;
	margin-bottom: 20px;
	padding: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

.my-header {
	font-size: 2em;
	font-weight: bold;
	font-family: 'Arial', sans-serif;
	margin-bottom: 20px;
	padding: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	overflow: hidden;
	white-space: nowrap;
	animation: typing 5s steps(40) infinite;
}

@keyframes typing {
	from {
		width: 0;
	}

	to {
		width: 100%;
	}
}

.home {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.home-text {
	margin-bottom: 20px;
}

.home-image {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.myimage {
	border-radius: 10px;
	width: 700px;
	height: 500px;
	margin: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

.home-text p {
	font-size: 1.5em;
	max-width: 95%;
	line-height: 1.7;
	text-align: justify;
	color: #010101;
}

.my-hobbies h1 {
	text-align: center;
}

/* Hobbies Section Styles */
.my-hobbies {
	background-color: #DBCC95;
	border-style: ridge;
	padding: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

div h3 {
	text-align: center;
}

.interest-item {
	display: flex;
	background: linear-gradient(to right, #C3E2C2, #CD8D7A);
	border-radius: 30px;
	overflow: hidden;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	margin-bottom: 10px;

}

.column {
	flex: 1;
}

.interest-item img {
	margin-left: 10px;
	margin-top: 10px;
	width: 100%;
	max-width: 3.5in;
	height: auto;
	border-radius: 15px 0 0 15px;
}

.black-column {
	background-color: #EAECCC;
	color: #0c0c0c;
	padding: 20px;
	flex: 1;
	border-radius: 0 15px 15px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

p {
	font-family: 'Georgia', serif;
}

#goals {
	background-color: #EAECCC;
	border-style: ridge;
	margin-bottom: 20px;
	padding: 20px;
	margin-bottom: 20px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

#goals h2 {
	text-align: center;
	font-size: 1.5em;
	margin-right: 10px;
}

#goals h3 {
	background-color: #C3E2C2;
	margin-right: 20px;
	font-size: 1.2em;
}

#goals p {
	max-width: 95%;
	line-height: 1.5;
	font-size: 1em;

}

.goals-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}


.career-goals {
	flex: 1;
	margin-right: 40px;
	border-radius: 40px;
}


.Self-development-goals {
	flex: 1;
	border-radius: 10px;
}

.encircled-subtitle {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #C3E2C2;
	color: #0c0c0c;
	border-radius: 50%;
	padding: 5px 10px;
	margin-bottom: 5px;
	font-size: 1.2em;
}

li.hike,
li.ball,
li.movie,
li.read,
li.travel {
	font-weight: bold;
}

div.gallery {
	border-style: double;
}

div.my-hobbies h1 {
	color: #fff;
	background: #CD8D7A;
	font-size: 1.5em;
	font-weight: bold;
	padding: 10px;
	margin-bottom: 20px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

h2 {
	color: #fff;
	background: #CD8D7A;
	font-size: 1.5em;
	font-weight: bold;
	padding: 10px;
	margin-bottom: 20px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

.testimonial {
	background-color: #EAECCC;
	border-style: ridge;
	padding: 20px;
	margin-bottom: 20px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

.testimonial h2 {
	color: #fff;
	background: #CD8D7A;
	font-size: 1.5em;
	font-weight: bold;
	padding: 10px;
	margin-bottom: 20px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	text-align: center;
}

.testimonial p {
	font-size: 1em;
	line-height: 1.6;
	margin-bottom: 15px;
}

.testimonial strong {
	color: #007bff;
}

.testimonial-card {
	background-color: #C3E2C2;
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 20px;
	margin-bottom: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.testimonial-card p {
	font-size: 0.9em;
}

.testimonial-card strong {
	color: #CD8D7A;
}

.my-works h1 {
	color: #fff;
	background: #CD8D7A;
	text-align: center;
	font-size: 1.8em;
}

h1.countries,
h1.reflection,
h1.journal,
h1.comments,
h2.test,
h2.gal {
	color: #fff;
	background: #CD8D7A;
	font-size: 1.5em;
	font-weight: bold;
	padding: 10px;
	margin-bottom: 20px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	text-align: center;
}

div.gallery h2 {
	text-align: center;
}

div.gallery {
	background: linear-gradient(to right, #5f2c82, #49a09d);
	border-style: ridge;
	padding: 20px;
	margin-bottom: 20px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

div.comments {
	background-color: #fff;
	border-style: ridge;
	padding: 20px;
	margin-bottom: 20px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

div.my-works,
div.testimonial,
div.comment-form,
div.countries,
div.reflection,
div.journal,
.form {
	background-color: #EAECCC;
	;
	border-style: ridge;
	padding: 20px;
	margin-bottom: 20px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

ul,
ol {
	font-size: 1.1em;
	margin-bottom: 15px;
}

h2.test {
	font-size: 1.5em;
}

div.input-style {
	white-space: 'text-wrap';
}

div.journal {
	font-family: cursive;
}

.comments {
	color: #007bff;
	font-size: 1.5em;
	margin-bottom: 10px;
}

#sortOrder {
	padding: 8px;
	border: 1px solid #ddd;
	border-radius: 5px;
	margin-bottom: 15px;
}

.comment-form p {
	font-style: arial;
	margin-bottom: 15px;
	font-size: 1.1em;
}

.comment-form p strong {
	font-style: arial;
	color: #49a09d;
}

.comment-form p em {
	font-style: normal;
}

form {
	margin-top: 20px;
}

.comment {
	color: #007bff;
	font-size: 1.5em;
	margin-bottom: 20px;
}

.input-style label {
	display: block;
	margin-bottom: 8px;
	font-weight: bold;
}

.input-style input,
.input-style textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ddd;
	border-radius: 5px;
}

#comment_button {
	background-color: #49a09d;
	color: #fff;
	padding: 10px 15px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

#comment_button:disabled {
	background-color: #ddd;
	color: #333;
	cursor: not-allowed;
}

.comment h3 {
	color: #007bff;
	font-size: 1.5em;
	margin-bottom: 20px;
}

#comment_button:hover {
	background: linear-gradient(to right, #5f2c82, #49a09d);
}

div.gallery {
	text-align: center;
}

h2.gal {
	text-align: left;
}

img {
	width: 320px;
	height: 300px;
}

img.beach1 {
	-webkit-filter: grayscale(100%);
	/* Safari 6.0 - 9.0 */
	filter: grayscale(200%);
}

img.beach2 {
	-webkit-filter: blur(3px);
	/* Safari 6.0 - 9.0 */
	filter: blur(2px);
}

img.beach3 {
	-webkit-filter: brightness(100%);
	/* Safari 6.0 - 9.0 */
	filter: brightness(100%);
}

img.nature1 {
	-webkit-filter: sepia(100%);
	/* Safari 6.0 - 9.0 */
	filter: sepia(100%);
}

img.nature2 {
	-webkit-filter: invert(100%);
	/* Safari 6.0 - 9.0 */
	filter: invert(100%);
}

img.nature3 {
	-webkit-filter: opacity(50%);
	/* Safari 6.0 - 9.0 */
	filter: opacity(50%);
}

a.button:hover {
	background: linear-gradient(to right, #5f2c82, #49a09d);
}

a.button {
	text-decoration: none;
	display: inline-block;
	background-color: #49a09d;
	color: #fff;
	font-weight: bold;
	font-family: 'Arial', sans-serif;
	margin-bottom: 5px;
	padding: 5px;
	border-radius: 10px;
	animation: scale 2s infinite;
}

@keyframes scale {

	0%,
	100% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.2);
	}
}

h4.caption {
	font-family: 'Montserrat', sans-serif;
}

footer {
	background: #C3E2C2;
	color: #000000;
	text-align: center;
	padding: 1em;
	position: sticky;
	bottom: 0;
	width: 97, 7%
}